Package: siakhooi-devy
Version: 0.18.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: coreutils, bash, siakhooi-devutils
Architecture: amd64
Homepage: <https://github.com/siakhooi/devy>
Description: dev scripts for devcontainers/wsl
